@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500;700&family=Cormorant:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');

$primary-white: #fff;
$primary-black: #121212;
$primary-light-gray: #DEDEDE;
$dark-gray: #575757;    
$secondary-white: #FCFCFC;
$secondary-black: #1A1818;
$secondary-gray: #9C9C9C;
$accent-red: #9B4B4B;
$accent-gold: #AB8956;
$accent-error: #AE2917;

$font-cormorant: 'Cormorant SC', serif;
$font-inter: 'Inter', sans-serif;
$font-urbanist: 'Urbanist', sans-serif;