@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.content{
    margin-bottom: 100px;
    &-items{
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 32px;
    }
    &-item{
        position: relative;
        overflow: hidden;
        cursor: pointer;
        list-style-type: none;
        &:hover{
            .content-item__images{
                transform: scale(1.1);
            }
            .content-item__arrow{
                opacity: 1;
            }
        }
        &__block{
            position: absolute;
            width: 80%;
            padding: 20px;
            background-color: $primary-white;
            z-index: 10;
            bottom: 0;
        }
        &__info{
            display: flex;
            flex-direction: column;
            gap: 8px;
            position: relative;
            &::after{
                content: '';
                background-color: $accent-red;
                position: absolute;
                width: 2px;
                left: -20px;
                height: 100%;
            }
        }
        &__author{
            font-family: $font-cormorant;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: $primary-black;
        }
        &__data{
            font-family: $font-inter;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: $accent-red;
        }
        img{
            object-fit: cover;
            transition: 0.3s all;
        }
        &__arrow{
            position: absolute;
            top: 0;
            right: -24px;
            width: 24px;
            height: 100%;
            @include flex-all-center;
            background-color: $accent-red;
            opacity: 0;
            transition: 0.5 all;
        }
    }
}